<%- include('../includes/head.ejs') %>
<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<h1>LIST PRODUCST</h1>
		<a href="/admin/add-product">Add Product</a>
		<div class="product-list">
			
		<% if (products.length > 0) { %>
			
			<% for(let product of products) { %>
				<div class="card card-product">
					<img src="" alt="">
					<div class="card-body">
						<p><%= product.name %></p>
						<p><%= product.price %></p>
						<p><%= product.desc %></p>
					</div>

					<div class="card-footer">
						<a href="/admin/product/<%= product.id %>" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-delete">Delete</a>
					</div>
				</div>
			<% }%>	
		
		<% }else { %>
			<h1 class="">NO PRODUCT</h1>
		<% } %>
		</div>
	</main>

<%- include('../includes/end.ejs') %>