<%- include('../includes/head.ejs') %>
<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<h3> Cart Pages </h3>
		<table border="1">
			<thead>
				<th>No</th>
				<th>Product</th>
				<th>Price</th>
				<th>Qty</th>
				<th>SubTotal</th>
				<th>Aksi</th>
			</thead>

			<tbody>
				<% cart.products.forEach((prod,index) => {%>
				<tr>
					<td><%= index+1 %></td>
					<td><%= prod.name %></td>
					<td><%= prod.price %></td>
					<td><%= prod.qty %></td>
					<td><%= prod.qty*prod.price %></td>
					<td>
						<form action="/cart-remove" method="POST">
							<input type="hidden" name="id" value="<%= prod.id %>">
							<button  class="btn btn-delete">Remove</button>
						</form>
					</td>
				</tr>
				 <% });%>
				 <tr>
				 	<td colspan="4">
				 		Total
				 	</td>
				 	<td colspan="2">
				 		<%= cart.totalPrice %>
				 	</td>
				 </tr>
			</tbody>
		</table>
	</main>

<%- include('../includes/end.ejs') %>